@media screen and (max-width: 991.98px) {
    header{
        .container {
            padding: 20px 15px;
            .navbar-brand {
                img {
                width: 33px;
                height: 33px;
                }
            }
            .navbar-nav {
                align-items: end;
                margin-right: 25px;
                gap: 20px;
                margin-top: 0;
                .nav-link {
                    &:hover {
                        color: #FFB548;
                    }
                }
            }
            .nav-item-language {
                margin-left: auto;
                margin-right: 30px;
                align-items: center;
                
                .nav-link-language {
                    text-decoration: none;
                    color: #FFFFFF;
                    &::before {
                        content: '';
                        position: absolute;
                        border-right: 2px solid #FFFFFF;
                        height: 30px;
                        right: -21px;
                        top: 0;
                        opacity: 50%;
                    }
                    
                    
                }
                .dropdown-menu {
					min-width: 55px;
					background-color: #000000BF;
					opacity: 85%;
                    margin-top: 20px;
					.dropdown-item{
						color: #FFFFFF;
                        font-size: 12px;
						&:hover {
							color: #FFB548;
							background-color: #000000BF;
							
						}
					}
				}
            } 
        }
        .navbar-collapse {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
        }
        
    }
    .buy {
        margin-top: -101px;
        height: 670px;
        padding-top: 295px;

        .heading {
            h1 {
                font-size: 33px;
            }
            h2 {
                font-size: 18px;
                padding-bottom: 110px;
            }
        }
        .btn-steam-list {
            font-size: 14px;
            gap: 35px;
            padding: 13px 17px;
            margin-bottom: 42px;
            .btn-item {
                &::after {
                    right: -18px;
                }
            }
            
        }
        .arrow-story {
            h6 {
                font-size: 12px;
            }
        }
    }
    .description {
        min-height: 689px;
        max-height: 689px;
        .carousel-indicators {
            bottom: -4px;
            gap: 15px;
        }
        .carousel-control-next, .carousel-control-prev {
            bottom: -393px;
        }
        .carousel-inner {
            padding-top: 2px;
            padding-left: 15px;
            padding-right: 15px;
            .carousel-item {
                .carousel-flex {
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    padding: 0 10px 0 10px;
                    img {
                        margin-left: auto;
                        margin-right: auto;
                        width: 225px;
                        height: 273px;
                        border-radius: 5px;
                    }
                    
                        .carousel-caption {
                            min-width: 270px;
                            max-width: 270px;
                            margin-left: auto;
                            margin-right: auto;
                            h6 {
                                font-size: 18px;
                            }
                            h3{
                                font-size: 33px;
                                line-height: 35px;
                                margin-bottom: 34px;
                            }
                            p{
                                font-size: 14px;
                                span {
                                    
                                    &::after {
                                        
                                        width: 94px;
                                        
                                    }
                                    
                                }
                            }
                        }
                    
                }
            }
    
        }
        
    }
    .special {
        
        height: 515px;
        padding-right: 0;
        .special-column {
            .special-head {
                padding-left: 105px;
                h2{
                    font-size: 18px;

                }
                h1{
                    font-size: 33px;

                }
            }
            .accordion-special {
                .accordion {
                    max-width: 300px;
                    margin-left: auto;
                    .accordion-header {
                        .accordion-button {
                            font-size: 21px;
                        }
                        .accordion-body {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .requirements {
        height: 630px;
        background: url(assets/img/bg-requirements-mb.png) center/cover no-repeat;
        
        .container {
            padding: 1px 10px;
            margin-top: 90px;
            .heading {
                margin-bottom: 45px;
                h2 {
                    font-size: 18px;
                }
                h1{
                    font-size: 33px;
                }
            }
            .table-req {
                .req-list {
                    .req-item-head {
                        font-size: 18px;
                        margin: 10px;

                    }
                    .req-item {
                        font-size: 14px;
                        margin: 0 10px 10px 10px;

                    }
                }

            }
        }
    }
    
}