main {
    background-color: #080A0B;
    section {
        height: 960px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        
        
        
    }
    h1 {
        font-family: 'BebasNeue';
        font-weight: 700;
        font-size: 80px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #FFFFFF;
    }
    h2 {
       font-family: 'BebasNeue';
       font-weight: 700;
       font-size: 24px;
       text-transform: uppercase;
       letter-spacing: 3px;
       color: #FFFFFF;
    }
}