.subscribe {
    background-color: #080A0B;
    .container {
        display: flex;
        gap: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        
        
        img { 
         max-width: 100%;
         height: auto; 
        }
        
        .subscribe-list {
            max-width: 678px;
            width: 100%;
            margin: auto 0;
            .text {
                
            }
        }
        .subscribe-form {
            input {
                background-color: #191b1a;
                padding: 10px 20px;
                border: 0;
                border-radius: 5px;
                min-width: 355px;
                color: #FFB548;
                margin-right: 17px;
                margin-bottom: 10px;
                &:focus-visible {
                    outline: none;
                }
            }
            button {
                background-color: #FFB548;
                height: 44px;
                width: 260px;
                
                border-radius: 4px;
                border: 0;
                font-family: 'OpenSans';
                font-size: 16px;
                font-weight: 600;
                &:hover {
                    background-color: #e19016;
                }
            }
        }
    }
}