<section class="description">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-flex">
              <div class="carousel-caption d-md-block">
                <h6>What is SOS?</h6>
                <h3>social battle royale game</h3>
                <p>Each round, you and 15 other contestants compete to
                  escape a deadly island filled with monsters. The trick is: three people can survive. Will you run
                  solo or form friendships with others to escape? </p>
                  <p>Making the right decisions could be the difference between <span>life and death.</span></p>
              </div>
              <img src="assets/img/description-1.jpg" class="d-block" alt="...">
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-flex">
              <div class="carousel-caption d-md-block">
                <h6>What is SOS?</h6>
                <h3>social battle royale game</h3>
                <p>Each round, you and 15 other contestants compete to
                  escape a deadly island filled with monsters. The trick is: three people can survive. Will you run
                  solo or form friendships with others to escape? </p>
                  <p>Making the right decisions could be the difference between <span>life and death.</span></p>
              </div>
              <img src="assets/img/description-2.jpg" class="d-block" alt="...">
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-flex">
              <div class="carousel-caption d-md-block">
                <h6>What is SOS?</h6>
                <h3>social battle royale game</h3>
                <p>Each round, you and 15 other contestants compete to
                  escape a deadly island filled with monsters. The trick is: three people can survive. Will you run
                  solo or form friendships with others to escape? </p>
                  <p>Making the right decisions could be the difference between <span>life and death.</span></p>
              </div>
              <img src="assets/img/description-3.jpg" class="d-block" alt="...">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>