<footer>
	<div class="container">
		<div class="footer-templates">
			<a href="#" class="footer-logo">
				<img src="assets/img/logo.png" alt="">
			</a>
			<div class="templates-list">
				<a href="#" class="templates-item">MAIN</a>
				<a href="#" class="templates-item">about</a>
				<a href="#" class="templates-item">game features</a>
				<a href="#" class="templates-item">System requirements</a>
				<a href="#" class="templates-item">quotes</a>
			</div>
			<div class="social-list">
				<a  href="#" class="social-item">
					<img src="assets/img/facebook.svg" alt="">
				</a>
				<a href="#"  class="social-item">
					<img src="assets/img/twitter.svg" alt="">
				</a>
				<a  href="#" class="social-item">
					<img src="assets/img/youtube.svg" alt="">
				</a>
				<a  href="#" class="social-item">
					<img src="assets/img/twitch.svg" alt="">
				</a>
			</div>
		</div>
		<div class="footer-info">
			<div > © 2018 Outpost Games, Inc. All Rights Reserved</div>
			<div class="privacy">
				<a href="#">Privacy Policy</a>
				<a href="#" class="link-border">Terms of Services</a>
				<a href="#">Code of Conduct </a>
			</div>
		</div>
	</div>
</footer>
<script src="assets/js/custom.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>