<header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/img/logo.png" alt="logo">
              </a>
              <div class="nav-item nav-item-language dropdown d-lg-none">
                <a class="nav-link-language dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ENG
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">RUS</a></li>
                  <li><a class="dropdown-item" href="#">FRA</a></li>
                  <li><a class="dropdown-item" href="#">DEU</a></li>
                </ul>
              </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="templates/first-screen.html">MAIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">about</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">game features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">System requirements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">quotes</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav navbar-nav-second ms-auto mb-2 mb-lg-0">
              <li class="nav-item nav-item-language dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ENG
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">RUS</a></li>
                  <li><a class="dropdown-item" href="#">FRA</a></li>
                  <li><a class="dropdown-item" href="#">DEU</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="assets/img/xbox-icon.svg" alt="logo">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="assets/img/steam-icon.svg" alt="logo">
                </a>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </nav>
</header>

