<section class="quotes">
    <div class="container">
        <div class="quotes-grid">
            <div class="quotes-text">
                <div class="text">
                    <h2>What people think?</h2>
                    <h1>Press quotes</h1>
                    <p>Our goal is to create a product and service that you’re satisfied with and use it every day. This is why we’re constantly working on our services to make it better every day and really listen to what our users has to say.</p>
                </div>
                <a href="#" class="quotes-btn">Read more testimonials</a>
            </div>
            <div class="quotes-flex">
                <div class="quotes-card">
                    <div class="quotes-info">
                        <img src="assets/img/photo-1.png" alt="">
                        <div class="quotes-name">
                            <h5>Evan Lahti</h5>
                            <h4>PC Gamer</h4>
                        </div>
                    </div>
                    <div class="quotes-item">“One of my gaming highlights of the year.”</div>
                    <div class="quotes-data">October 18, 2018</div>
                </div>
                <div class="quotes-card">
                    <div class="quotes-info">
                        <img src="assets/img/photo-2.png" alt="">
                        <div class="quotes-name">
                            <h5>Jada Griffin </h5>
                            <h4>Nerdreactor</h4>
                        </div>
                    </div>
                    <div class="quotes-item">“The next big thing in the world of streaming and survival games.”
                    </div>
                    <div class="quotes-data">December 21, 2018</div>
                </div>
                <div class="quotes-card">
                    <div class="quotes-info">
                        <img src="assets/img/photo-3.jpg" alt="">
                        <div class="quotes-name">
                            <h5>Aaron Williams </h5>
                            <h4>Uproxx</h4>
                        </div>
                    </div>
                    <div class="quotes-item">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</div>
                    <div class="quotes-data">December 24, 2018</div>
                </div>
            </div>
        </div>
    </div>
</section>