<section class="requirements">
    <div class="container">
        <div class="heading">
            <h2 class="subtitle">Can My Computer Run this game?</h2>
            <h1 class="title">system requirements</h1>
        </div>
        <div class="table-req">
            <ul class="req-list">
                <li class="req-item-head">OS:</li>
                <li class="req-item">Windows 7 64-bit only
                    (No OSX support at this time)</li>
            </ul>
            <ul class="req-list">
                <li class="req-item-head">pROCESSOR:</li>
                <li class="req-item">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</li>
            </ul>
            <ul class="req-list">
                <li class="req-item-head">mEMORY:</li>
                <li class="req-item">8 GB RAM</li>
            </ul>
            <ul class="req-list">
                <li class="req-item-head">storage:</li>
                <li class="req-item">8 GB available space</li>
            </ul>
            <ul class="req-list">
                <li class="req-item-head">GRAPHICS:</li>
                <li class="req-item">NVIDIA GeForce GTX 660 2GB or 
                    AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</li>
            </ul>

        </div>
    </div>

</section>