<section class="subscribe">
    <div class="container">
        <img src="assets/img/bg-subscribe.png" alt="">
        <div class="subscribe-list">
            <div class="text">
                <h2>Want to stay in touch?</h2>
                <h1>newsletter SUBSCRIBE </h1>
                <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
            </div>
            <div class="subscribe-form">
                <form action="">
                    <input id="subscribe" type="email" placeholder="Your email address">
                    <button type="submit">Subscribe now</button>
                </form>
                
            </div>
        </div>
    </div>
</section>